{% extends 'base.html' %}
{% block content %}
<section class="about">
    <img src="https://images.unsplash.com/photo-1507576164121-220762647800?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=870&q=80" class="about-img img-fluid" alt="holding_coffee">
    <div class="py-5 text-center">
    <h2>Welcome to BlackRiver</h2>
</div>
    <p><strong>Coffee is our passion.</strong> Our journey started with our love for coffee and the relationships we developed along the way.
        We directly source our beans from local farmers to ensure they are paid what they deserve.
        We source and roast only the best hand-picked beans. We also have special seasonal coffees, as we aim to be more sustainable in our practice.</p>
    <p>To deliver you the perfect cup of coffee we use quality machines and brewing tools. We also have a range of coffee equipment for your home, business, or office needs.
        We never compromise quality, as we are an ISO22000 certified coffee roaster.
        We consistently review and check the quality of coffee from our production line.
        We also care about educating our clients and have regular free seminars on coffee roasting techniques for coffee enthusiasts.</p>
</section>
{% endblock content %}