{% extends 'base.html' %}
{% block content %}
<div class="contact-us">
    <h2 class="py-5 text-center">Contact Us</h2>
</div>
<div><p> {{ message_received }}</p></div>

<section class="contact-section justify-content-center d-flex">
    <form action="{% url 'contact_view' %}" method="post">
        {% csrf_token %}
        <div class="form-group row mb-3">
            <label for="your_name" class="contact-form col-form-label">Name:</label>
            <div>
                <input type="text" name="yourName" value="" class="form-control form-control-lg" id="your_name">
            </div>
        </div>
        <div class="form-group row mb-3">
            <label for="your_email" class="contact-form col-form-label">Email:</label>
            <div>
                <input type="email" name="yourEmail" class="form-control form-control-lg" id="your_email">
            </div>
        </div>
        <div class="form-group row mb-3">
            <label for="your_message" class="contact-form col-form-label">Message:</label>
            <div>
                <textarea class="form-control form-control-lg" id="your_message" name="yourMessage" rows="10" cols="30"></textarea><br>
            </div>
        </div>
        <button type="submit" class="btn btn-secondary btn-lg">Submit</button>
    </form>
</section>


{% endblock content %}