{% extends 'base.html' %}
{% block content %}
<div class="recipes-section">
    <h2 class="py-5 text-center">Recipes</h2>
</div>

<section class="recipes justify-content-center">

    <div class="container">
        <div class="col"><h3>Caffe Americano</h3></div>
        <div class="col"><img class="americano img-fluid" src="https://images.unsplash.com/photo-1587985782608-20062892559d?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxzZWFyY2h8MTJ8fGFtZXJpY2Fub3xlbnwwfHwwfHw%3D&auto=format&fit=crop&w=500&q=60" alt="coffee image" height="250" width="250"></div>

    <h4 class="recipe-font">Ingredients</h4>
    <ul>
        <li><p>2 ounces (2 shots) BlackRiver espresso</p></li>
        <li><p>4 ounces hot water</p></li>
    </ul>
    <h4 class="recipe-font">Instructions</h4>
    <p>Make the espresso using an espresso machine, manual espresso maker, French press, or Moka Pot.
    Heat water using your espresso machine or in a tea pot to about 190 degrees Fahrenheit.
    Pour it into the espresso. Enjoy!</p>
    </div>

</section>


{% endblock content %}